.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.main {
  width: 300px;
  height: 355px;
  padding: 5px;
  background-color: #ccc;
  border: 5px outset #eee;
}

.head {
  display: flex;
  flex-direction: row;
  width: 280px;
  height: 50px;
  margin-bottom: 5px;
  background-color: #ccc;
  border: #eee inset 5px;
}

.reset {
  width: 40px;
  height: 40px;
  margin: auto;
  background: url('~/assets/images/icons.png') no-repeat;
  background-color: #ccc;
  border: #eee outset 5px;
}

.display {
  width: 90px;
  height: 40px;
  color: #f00;
  background-color: #000;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  height: 280px;
  background-color: #aaa;
  border: #eee inset 5px;
}

.icon {
  width: 30px;
  height: 30px;
  background: url('~/assets/images/icons.png') no-repeat;
  background-origin: content-box, border-box;
  background-size: 280px;
}

.cell {
  padding: 4px;
  border: #444 solid 1px;
}

.stone {
  background-color: #ccc;
  border: #eee outset 5px;
}
