.icon {
  width: 30px;
  height: 30px;
  background: url('~/assets/images/icons.png') no-repeat;
  background-origin: content-box, border-box;
  background-size: 280px;
}

.cell {
  padding: 4px;
  border: #444 solid 1px;
}

.stone {
  background-color: #ccc;
  border: #eee outset 5px;
}
