.reset {
  width: 40px;
  height: 40px;
  margin: auto;
  background: url('~/assets/images/icons.png') no-repeat;
  background-color: #ccc;
  border: #eee outset 5px;
}

.reset:active {
  border: #ccc inset 5px;
}
